<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/GUI/Amazing JUAN2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {2804, 2024}}</string>
			<key>offset</key>
			<string>{0, 12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63, 39}, {2804, 2024}}</string>
			<key>sourceSize</key>
			<string>{2930, 2126}</string>
		</dict>
		<key>images/GUI/PZ_BigStar1.png</key>
		<dict>
			<key>frame</key>
			<string>{{3473, 881}, {222, 236}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {222, 236}}</string>
			<key>sourceSize</key>
			<string>{224, 236}</string>
		</dict>
		<key>images/GUI/PZ_BigStar1Off.png</key>
		<dict>
			<key>frame</key>
			<string>{{3861, 865}, {222, 236}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {222, 236}}</string>
			<key>sourceSize</key>
			<string>{224, 236}</string>
		</dict>
		<key>images/GUI/PZ_BigStar2.png</key>
		<dict>
			<key>frame</key>
			<string>{{3473, 643}, {242, 236}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {242, 236}}</string>
			<key>sourceSize</key>
			<string>{244, 236}</string>
		</dict>
		<key>images/GUI/PZ_BigStar2Off.png</key>
		<dict>
			<key>frame</key>
			<string>{{3473, 405}, {242, 236}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {242, 236}}</string>
			<key>sourceSize</key>
			<string>{244, 236}</string>
		</dict>
		<key>images/GUI/PZ_BigStar3.png</key>
		<dict>
			<key>frame</key>
			<string>{{3861, 643}, {220, 234}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {220, 234}}</string>
			<key>sourceSize</key>
			<string>{220, 234}</string>
		</dict>
		<key>images/GUI/PZ_BigStar3Off.png</key>
		<dict>
			<key>frame</key>
			<string>{{3861, 421}, {220, 234}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {220, 234}}</string>
			<key>sourceSize</key>
			<string>{220, 234}</string>
		</dict>
		<key>images/GUI/PZ_GUI_BackButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{3717, 825}, {138, 142}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 5}, {138, 142}}</string>
			<key>sourceSize</key>
			<string>{138, 150}</string>
		</dict>
		<key>images/GUI/PZ_GUI_DotsButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{3717, 405}, {138, 142}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 5}, {138, 142}}</string>
			<key>sourceSize</key>
			<string>{138, 150}</string>
		</dict>
		<key>images/GUI/PZ_GUI_LevelsButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{3711, 965}, {138, 142}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 5}, {138, 142}}</string>
			<key>sourceSize</key>
			<string>{138, 150}</string>
		</dict>
		<key>images/GUI/PZ_GUI_NextButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{3877, 141}, {138, 146}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {138, 146}}</string>
			<key>sourceSize</key>
			<string>{138, 150}</string>
		</dict>
		<key>images/GUI/PZ_GUI_PlayButtonBig.png</key>
		<dict>
			<key>frame</key>
			<string>{{3473, 1}, {402, 402}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {402, 402}}</string>
			<key>sourceSize</key>
			<string>{408, 408}</string>
		</dict>
		<key>images/GUI/PZ_GUI_PlayButtonSmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{3473, 1105}, {138, 142}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 5}, {138, 142}}</string>
			<key>sourceSize</key>
			<string>{138, 150}</string>
		</dict>
		<key>images/GUI/PZ_GUI_ReloadButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{3717, 545}, {138, 142}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 5}, {138, 142}}</string>
			<key>sourceSize</key>
			<string>{138, 150}</string>
		</dict>
		<key>images/GUI/PZ_GUI_RetryButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{3877, 1}, {138, 146}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {138, 146}}</string>
			<key>sourceSize</key>
			<string>{138, 150}</string>
		</dict>
		<key>images/GUI/PZ_GUI_SoundOffButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{3877, 281}, {138, 142}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 5}, {138, 142}}</string>
			<key>sourceSize</key>
			<string>{138, 150}</string>
		</dict>
		<key>images/GUI/PZ_GUI_SoundOnButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{3855, 1103}, {138, 142}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 5}, {138, 142}}</string>
			<key>sourceSize</key>
			<string>{138, 150}</string>
		</dict>
		<key>images/GUI/PZ_GUI_StopButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{3717, 685}, {138, 142}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 5}, {138, 142}}</string>
			<key>sourceSize</key>
			<string>{138, 150}</string>
		</dict>
		<key>images/GUI/PZ_GUI_lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{2807, 1703}, {282, 404}}</string>
			<key>offset</key>
			<string>{-1, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {282, 404}}</string>
			<key>sourceSize</key>
			<string>{284, 406}</string>
		</dict>
		<key>images/GUI/PZ_LittleStar1.png</key>
		<dict>
			<key>frame</key>
			<string>{{3999, 1103}, {96, 102}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {96, 102}}</string>
			<key>sourceSize</key>
			<string>{96, 102}</string>
		</dict>
		<key>images/GUI/PZ_LittleStar1Off.png</key>
		<dict>
			<key>frame</key>
			<string>{{3999, 1207}, {96, 102}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {96, 102}}</string>
			<key>sourceSize</key>
			<string>{96, 102}</string>
		</dict>
		<key>images/GUI/PZ_LittleStar2.png</key>
		<dict>
			<key>frame</key>
			<string>{{3617, 1105}, {104, 102}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {104, 102}}</string>
			<key>sourceSize</key>
			<string>{104, 102}</string>
		</dict>
		<key>images/GUI/PZ_LittleStar2Off.png</key>
		<dict>
			<key>frame</key>
			<string>{{3723, 1105}, {104, 102}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {104, 102}}</string>
			<key>sourceSize</key>
			<string>{104, 102}</string>
		</dict>
		<key>images/GUI/PZ_LittleStar3.png</key>
		<dict>
			<key>frame</key>
			<string>{{3719, 1209}, {94, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {94, 100}}</string>
			<key>sourceSize</key>
			<string>{94, 100}</string>
		</dict>
		<key>images/GUI/PZ_LittleStar3Off.png</key>
		<dict>
			<key>frame</key>
			<string>{{3617, 1209}, {94, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {94, 100}}</string>
			<key>sourceSize</key>
			<string>{94, 100}</string>
		</dict>
		<key>images/GUI/PZ_PlayButtonBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{3213, 1703}, {258, 274}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {258, 274}}</string>
			<key>sourceSize</key>
			<string>{258, 274}</string>
		</dict>
		<key>images/GUI/PZ_SideMenuBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2807, 1}, {654, 1700}}</string>
			<key>offset</key>
			<string>{-8, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {654, 1700}}</string>
			<key>sourceSize</key>
			<string>{670, 1700}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 2048}</string>
		<key>textureFileName</key>
		<string>GUI.png</string>
	</dict>
</dict>
</plist>
