<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/GUI/PZ_BigStar1.png</key>
		<dict>
			<key>frame</key>
			<string>{{782, 1}, {110, 118}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {110, 118}}</string>
			<key>sourceSize</key>
			<string>{112, 118}</string>
		</dict>
		<key>images/GUI/PZ_BigStar1Off.png</key>
		<dict>
			<key>frame</key>
			<string>{{902, 1}, {110, 118}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {110, 118}}</string>
			<key>sourceSize</key>
			<string>{112, 118}</string>
		</dict>
		<key>images/GUI/PZ_BigStar2.png</key>
		<dict>
			<key>frame</key>
			<string>{{660, 1}, {120, 118}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {120, 118}}</string>
			<key>sourceSize</key>
			<string>{122, 118}</string>
		</dict>
		<key>images/GUI/PZ_BigStar2Off.png</key>
		<dict>
			<key>frame</key>
			<string>{{538, 1}, {120, 118}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {120, 118}}</string>
			<key>sourceSize</key>
			<string>{122, 118}</string>
		</dict>
		<key>images/GUI/PZ_BigStar3.png</key>
		<dict>
			<key>frame</key>
			<string>{{901, 113}, {110, 117}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {110, 117}}</string>
			<key>sourceSize</key>
			<string>{110, 117}</string>
		</dict>
		<key>images/GUI/PZ_BigStar3Off.png</key>
		<dict>
			<key>frame</key>
			<string>{{782, 113}, {110, 117}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {110, 117}}</string>
			<key>sourceSize</key>
			<string>{110, 117}</string>
		</dict>
		<key>images/GUI/PZ_GUI_BackButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{336, 203}, {69, 70}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {69, 70}}</string>
			<key>sourceSize</key>
			<string>{69, 75}</string>
		</dict>
		<key>images/GUI/PZ_GUI_DotsButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{538, 192}, {69, 70}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {69, 70}}</string>
			<key>sourceSize</key>
			<string>{69, 75}</string>
		</dict>
		<key>images/GUI/PZ_GUI_LevelsButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{408, 203}, {69, 70}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {69, 70}}</string>
			<key>sourceSize</key>
			<string>{69, 75}</string>
		</dict>
		<key>images/GUI/PZ_GUI_NextButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{612, 121}, {69, 72}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {69, 72}}</string>
			<key>sourceSize</key>
			<string>{69, 75}</string>
		</dict>
		<key>images/GUI/PZ_GUI_PlayButtonBig.png</key>
		<dict>
			<key>frame</key>
			<string>{{336, 1}, {200, 200}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {200, 200}}</string>
			<key>sourceSize</key>
			<string>{204, 204}</string>
		</dict>
		<key>images/GUI/PZ_GUI_PlayButtonSmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{408, 274}, {69, 70}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {69, 70}}</string>
			<key>sourceSize</key>
			<string>{69, 75}</string>
		</dict>
		<key>images/GUI/PZ_GUI_ReloadButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{610, 192}, {69, 70}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {69, 70}}</string>
			<key>sourceSize</key>
			<string>{69, 75}</string>
		</dict>
		<key>images/GUI/PZ_GUI_RetryButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{538, 121}, {69, 72}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {69, 72}}</string>
			<key>sourceSize</key>
			<string>{69, 75}</string>
		</dict>
		<key>images/GUI/PZ_GUI_SoundOffButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{686, 121}, {69, 70}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {69, 70}}</string>
			<key>sourceSize</key>
			<string>{69, 75}</string>
		</dict>
		<key>images/GUI/PZ_GUI_SoundOnButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{336, 274}, {69, 70}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {69, 70}}</string>
			<key>sourceSize</key>
			<string>{69, 75}</string>
		</dict>
		<key>images/GUI/PZ_GUI_StopButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{682, 192}, {69, 70}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {69, 70}}</string>
			<key>sourceSize</key>
			<string>{69, 75}</string>
		</dict>
		<key>images/GUI/PZ_GUI_lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 853}, {140, 202}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 202}}</string>
			<key>sourceSize</key>
			<string>{142, 203}</string>
		</dict>
		<key>images/GUI/PZ_LittleStar1.png</key>
		<dict>
			<key>frame</key>
			<string>{{754, 225}, {48, 51}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {48, 51}}</string>
			<key>sourceSize</key>
			<string>{48, 51}</string>
		</dict>
		<key>images/GUI/PZ_LittleStar1Off.png</key>
		<dict>
			<key>frame</key>
			<string>{{807, 225}, {48, 51}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {48, 51}}</string>
			<key>sourceSize</key>
			<string>{48, 51}</string>
		</dict>
		<key>images/GUI/PZ_LittleStar2.png</key>
		<dict>
			<key>frame</key>
			<string>{{480, 203}, {52, 51}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {52, 51}}</string>
			<key>sourceSize</key>
			<string>{52, 51}</string>
		</dict>
		<key>images/GUI/PZ_LittleStar2Off.png</key>
		<dict>
			<key>frame</key>
			<string>{{480, 256}, {52, 51}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {52, 51}}</string>
			<key>sourceSize</key>
			<string>{52, 51}</string>
		</dict>
		<key>images/GUI/PZ_LittleStar3.png</key>
		<dict>
			<key>frame</key>
			<string>{{912, 225}, {47, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {47, 50}}</string>
			<key>sourceSize</key>
			<string>{47, 50}</string>
		</dict>
		<key>images/GUI/PZ_LittleStar3Off.png</key>
		<dict>
			<key>frame</key>
			<string>{{860, 225}, {47, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {47, 50}}</string>
			<key>sourceSize</key>
			<string>{47, 50}</string>
		</dict>
		<key>images/GUI/PZ_PlayButtonBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{205, 853}, {129, 136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {129, 136}}</string>
			<key>sourceSize</key>
			<string>{129, 137}</string>
		</dict>
		<key>images/GUI/PZ_SideMenuBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {326, 850}}</string>
			<key>offset</key>
			<string>{-4, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {326, 850}}</string>
			<key>sourceSize</key>
			<string>{335, 850}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>GUI.png</string>
	</dict>
</dict>
</plist>
