<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/GUI/PZ_BigStar1.png</key>
		<dict>
			<key>frame</key>
			<string>{{767, 203}, {156, 168}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2, 0}, {156, 168}}</string>
			<key>sourceSize</key>
			<string>{160, 169}</string>
		</dict>
		<key>images/GUI/PZ_BigStar1Off.png</key>
		<dict>
			<key>frame</key>
			<string>{{767, 361}, {156, 168}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2, 0}, {156, 168}}</string>
			<key>sourceSize</key>
			<string>{160, 169}</string>
		</dict>
		<key>images/GUI/PZ_BigStar2.png</key>
		<dict>
			<key>frame</key>
			<string>{{175, 853}, {172, 169}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {172, 169}}</string>
			<key>sourceSize</key>
			<string>{174, 169}</string>
		</dict>
		<key>images/GUI/PZ_BigStar2Off.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 853}, {172, 169}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {172, 169}}</string>
			<key>sourceSize</key>
			<string>{174, 169}</string>
		</dict>
		<key>images/GUI/PZ_BigStar3.png</key>
		<dict>
			<key>frame</key>
			<string>{{551, 393}, {156, 167}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {156, 167}}</string>
			<key>sourceSize</key>
			<string>{157, 167}</string>
		</dict>
		<key>images/GUI/PZ_BigStar3Pff.png</key>
		<dict>
			<key>frame</key>
			<string>{{349, 549}, {156, 167}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {156, 167}}</string>
			<key>sourceSize</key>
			<string>{157, 167}</string>
		</dict>
		<key>images/GUI/PZ_GUI_BackButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{937, 487}, {69, 70}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {69, 70}}</string>
			<key>sourceSize</key>
			<string>{69, 75}</string>
		</dict>
		<key>images/GUI/PZ_GUI_DotsButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{937, 274}, {69, 70}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {69, 70}}</string>
			<key>sourceSize</key>
			<string>{69, 75}</string>
		</dict>
		<key>images/GUI/PZ_GUI_LevelsButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{349, 845}, {69, 70}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {69, 70}}</string>
			<key>sourceSize</key>
			<string>{69, 75}</string>
		</dict>
		<key>images/GUI/PZ_GUI_PlayButtonBig.png</key>
		<dict>
			<key>frame</key>
			<string>{{349, 347}, {200, 200}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {200, 200}}</string>
			<key>sourceSize</key>
			<string>{204, 204}</string>
		</dict>
		<key>images/GUI/PZ_GUI_PlayButtonSmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{420, 845}, {69, 70}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {69, 70}}</string>
			<key>sourceSize</key>
			<string>{69, 75}</string>
		</dict>
		<key>images/GUI/PZ_GUI_RetryButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{937, 345}, {69, 70}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {69, 70}}</string>
			<key>sourceSize</key>
			<string>{69, 75}</string>
		</dict>
		<key>images/GUI/PZ_GUI_SoundOffButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{937, 203}, {69, 70}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {69, 70}}</string>
			<key>sourceSize</key>
			<string>{69, 75}</string>
		</dict>
		<key>images/GUI/PZ_GUI_SoundOnButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{349, 917}, {69, 70}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {69, 70}}</string>
			<key>sourceSize</key>
			<string>{69, 75}</string>
		</dict>
		<key>images/GUI/PZ_GUI_StopButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{937, 416}, {69, 70}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {69, 70}}</string>
			<key>sourceSize</key>
			<string>{69, 75}</string>
		</dict>
		<key>images/GUI/PZ_GUI_lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{349, 205}, {140, 202}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 202}}</string>
			<key>sourceSize</key>
			<string>{142, 203}</string>
		</dict>
		<key>images/GUI/PZ_LevelFrame1.png</key>
		<dict>
			<key>frame</key>
			<string>{{561, 199}, {192, 204}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 2}, {192, 204}}</string>
			<key>sourceSize</key>
			<string>{194, 208}</string>
		</dict>
		<key>images/GUI/PZ_LevelFrame2.png</key>
		<dict>
			<key>frame</key>
			<string>{{771, 1}, {200, 204}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {200, 204}}</string>
			<key>sourceSize</key>
			<string>{204, 208}</string>
		</dict>
		<key>images/GUI/PZ_LevelFrame3.png</key>
		<dict>
			<key>frame</key>
			<string>{{561, 1}, {196, 208}}</string>
			<key>offset</key>
			<string>{2, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 2}, {196, 208}}</string>
			<key>sourceSize</key>
			<string>{199, 213}</string>
		</dict>
		<key>images/GUI/PZ_LevelFrame4.png</key>
		<dict>
			<key>frame</key>
			<string>{{349, 1}, {202, 210}}</string>
			<key>offset</key>
			<string>{1, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {202, 210}}</string>
			<key>sourceSize</key>
			<string>{204, 213}</string>
		</dict>
		<key>images/GUI/PZ_PlayButtonBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{329, 707}, {129, 136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {129, 136}}</string>
			<key>sourceSize</key>
			<string>{129, 137}</string>
		</dict>
		<key>images/GUI/PZ_SideMenuBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {326, 850}}</string>
			<key>offset</key>
			<string>{-4, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {326, 850}}</string>
			<key>sourceSize</key>
			<string>{335, 850}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>GUI.png</string>
	</dict>
</dict>
</plist>
