<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/GUI/Amazing JUAN2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {700, 506}}</string>
			<key>offset</key>
			<string>{0, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16, 10}, {700, 506}}</string>
			<key>sourceSize</key>
			<string>{732, 531}</string>
		</dict>
		<key>images/GUI/PZ_BigStar1.png</key>
		<dict>
			<key>frame</key>
			<string>{{871, 225}, {56, 59}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {56, 59}}</string>
			<key>sourceSize</key>
			<string>{56, 59}</string>
		</dict>
		<key>images/GUI/PZ_BigStar1Off.png</key>
		<dict>
			<key>frame</key>
			<string>{{959, 271}, {56, 59}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {56, 59}}</string>
			<key>sourceSize</key>
			<string>{56, 59}</string>
		</dict>
		<key>images/GUI/PZ_BigStar2.png</key>
		<dict>
			<key>frame</key>
			<string>{{871, 164}, {60, 59}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {60, 59}}</string>
			<key>sourceSize</key>
			<string>{61, 59}</string>
		</dict>
		<key>images/GUI/PZ_BigStar2Off.png</key>
		<dict>
			<key>frame</key>
			<string>{{871, 103}, {60, 59}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {60, 59}}</string>
			<key>sourceSize</key>
			<string>{61, 59}</string>
		</dict>
		<key>images/GUI/PZ_BigStar3.png</key>
		<dict>
			<key>frame</key>
			<string>{{869, 340}, {55, 58}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {55, 58}}</string>
			<key>sourceSize</key>
			<string>{55, 58}</string>
		</dict>
		<key>images/GUI/PZ_BigStar3Off.png</key>
		<dict>
			<key>frame</key>
			<string>{{871, 283}, {55, 58}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {55, 58}}</string>
			<key>sourceSize</key>
			<string>{55, 58}</string>
		</dict>
		<key>images/GUI/PZ_GUI_BackButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{933, 139}, {34, 36}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {34, 36}}</string>
			<key>sourceSize</key>
			<string>{34, 37}</string>
		</dict>
		<key>images/GUI/PZ_GUI_DotsButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{973, 37}, {34, 36}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {34, 36}}</string>
			<key>sourceSize</key>
			<string>{34, 37}</string>
		</dict>
		<key>images/GUI/PZ_GUI_LevelsButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{971, 145}, {34, 36}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {34, 36}}</string>
			<key>sourceSize</key>
			<string>{34, 37}</string>
		</dict>
		<key>images/GUI/PZ_GUI_NextButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{971, 181}, {34, 36}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {34, 36}}</string>
			<key>sourceSize</key>
			<string>{34, 37}</string>
		</dict>
		<key>images/GUI/PZ_GUI_PlayButtonBig.png</key>
		<dict>
			<key>frame</key>
			<string>{{871, 1}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {100, 100}}</string>
			<key>sourceSize</key>
			<string>{102, 102}</string>
		</dict>
		<key>images/GUI/PZ_GUI_PlayButtonSmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{933, 211}, {34, 36}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {34, 36}}</string>
			<key>sourceSize</key>
			<string>{34, 37}</string>
		</dict>
		<key>images/GUI/PZ_GUI_ReloadButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{933, 103}, {34, 36}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {34, 36}}</string>
			<key>sourceSize</key>
			<string>{34, 37}</string>
		</dict>
		<key>images/GUI/PZ_GUI_RetryButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{973, 73}, {34, 36}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {34, 36}}</string>
			<key>sourceSize</key>
			<string>{34, 37}</string>
		</dict>
		<key>images/GUI/PZ_GUI_SoundOffButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{973, 1}, {34, 36}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {34, 36}}</string>
			<key>sourceSize</key>
			<string>{34, 37}</string>
		</dict>
		<key>images/GUI/PZ_GUI_SoundOnButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{933, 175}, {34, 36}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {34, 36}}</string>
			<key>sourceSize</key>
			<string>{34, 37}</string>
		</dict>
		<key>images/GUI/PZ_GUI_StopButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{971, 109}, {34, 36}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {34, 36}}</string>
			<key>sourceSize</key>
			<string>{34, 37}</string>
		</dict>
		<key>images/GUI/PZ_GUI_lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{703, 428}, {70, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 100}}</string>
			<key>sourceSize</key>
			<string>{71, 101}</string>
		</dict>
		<key>images/GUI/PZ_LittleStar1.png</key>
		<dict>
			<key>frame</key>
			<string>{{999, 217}, {24, 25}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {24, 25}}</string>
			<key>sourceSize</key>
			<string>{24, 25}</string>
		</dict>
		<key>images/GUI/PZ_LittleStar1Off.png</key>
		<dict>
			<key>frame</key>
			<string>{{999, 244}, {24, 25}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {24, 25}}</string>
			<key>sourceSize</key>
			<string>{24, 25}</string>
		</dict>
		<key>images/GUI/PZ_LittleStar2.png</key>
		<dict>
			<key>frame</key>
			<string>{{971, 217}, {26, 25}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {26, 25}}</string>
			<key>sourceSize</key>
			<string>{26, 25}</string>
		</dict>
		<key>images/GUI/PZ_LittleStar2Off.png</key>
		<dict>
			<key>frame</key>
			<string>{{971, 244}, {26, 25}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {26, 25}}</string>
			<key>sourceSize</key>
			<string>{26, 25}</string>
		</dict>
		<key>images/GUI/PZ_LittleStar3.png</key>
		<dict>
			<key>frame</key>
			<string>{{932, 272}, {23, 25}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {23, 25}}</string>
			<key>sourceSize</key>
			<string>{23, 25}</string>
		</dict>
		<key>images/GUI/PZ_LittleStar3Off.png</key>
		<dict>
			<key>frame</key>
			<string>{{932, 247}, {23, 25}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {23, 25}}</string>
			<key>sourceSize</key>
			<string>{23, 25}</string>
		</dict>
		<key>images/GUI/PZ_PlayButtonBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{805, 428}, {64, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {64, 68}}</string>
			<key>sourceSize</key>
			<string>{64, 68}</string>
		</dict>
		<key>images/GUI/PZ_SideMenuBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{703, 1}, {164, 425}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {164, 425}}</string>
			<key>sourceSize</key>
			<string>{167, 425}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>textureFileName</key>
		<string>GUI.png</string>
	</dict>
</dict>
</plist>
